{% extends 'subbase.html' %}
{% load static %}

{% block content %}
<div id="main">
	<div class="inner">
        <div class="row" style="margin-top:-70px">
			<div class="col-10">
				<h1>그 외 건물</h1>
			</div>
		</div>
    <p>클릭 시 위치와 설명을 볼 수 있어요!🏫</p>
    <hr>
		<div>
			<section class="brand">
        <span class="btn-restaurant">
					<button id="spreadBtn27" class="restaurant">
            <h2>미래관</h2>
            <button id="spreadBtn28" class="restaurant">
              <h2>오아시스(홍보관)</h2>
            </button>
            <button id="spreadBtn29" class="restaurant">
              <h2>조각실습동(예학관)</h2>
            </button>
            <button id="spreadBtn30" class="restaurant">
              <h2>어울림관</h2>
            </button>
            <button id="spreadBtn31" class="restaurant">
              <h2>복지관</h2>
            </button>
            <button id="spreadBtn32" class="restaurant">
              <h2>신학생회관</h2>
            </button>
            <button id="spreadBtn33" class="restaurant">
              <h2>텔레컨벤션센터</h2>
            </button>
            <button id="spreadBtn34" class="restaurant">
              <h2>중앙도서관</h2>
            </button>
            <button id="spreadBtn35" class="restaurant">
              <h2>감성코어</h2>
            </button>
            <button id="spreadBtn36" class="restaurant">
              <h2>교수연구동</h2>
            </button>
            <button id="spreadBtn37" class="restaurant">
              <h2>이스퀘어</h2>
            </button>
            <button id="spreadBtn38" class="restaurant">
              <h2>경기드림타워(기숙사)</h2>
            </button>
            <button id="spreadBtn39" class="restaurant">
              <h2>공학실습동</h2>
            </button>
            <button id="spreadBtn40" class="restaurant">
              <h2>리서치센터</h2>
            </button>
          </button>
          <ul id="hiddenList27" class="example01" style="display: none;">
            <br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.0408123343077!2d127.03494443279068!3d37.29985070509069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9940da254b%3A0x99f84d8c2d132ec9!2z6rK96riw64yA7ZWZ6rWQIOuvuOuemOq0gA!5e0!3m2!1sko!2skr!4v1684420995065!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>국제/평생교육원 수업 진행</p>
            </div>
          </ul>
          <ul id="hiddenList28" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2746.996025126712!2d127.03252073459213!3d37.30107692721726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9b93318f61%3A0x829c25ae7b9c8525!2z6rK96riw64yA7ZWZ6rWQIO2ZjeuztOq0gA!5e0!3m2!1sko!2skr!4v1684421022576!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>1층에는 오아시스 마켓이라고 하는 푸드코트 위치<br>2층에는 국제교류팀과 대외협력팀 위치</p>
            </div>
          </ul>
          <ul id="hiddenList29" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2746.9620296648695!2d127.03315219619172!3d37.302007660785954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9b9b6f37ef%3A0x80cd286cfc3ea74d!2z6rK96riw64yA7ZWZ6rWQIOyYiO2Vmeq0gA!5e0!3m2!1sko!2skr!4v1684421048527!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>9강의동 기준 왼쪽에 위치<br>예대생들이 실습을 위해 사용하는 건물(ex. 도자기 가마)</p>
            </div>
          </ul>
          <ul id="hiddenList30" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.4105834170624!2d127.03533556960126!3d37.30360979825675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5d679ad5edf7%3A0x2703255022f61c3f!2z6rK96riw64yA7ZWZ6rWQIOyWtOyauOumvOq0gA!5e0!3m2!1sko!2skr!4v1684421245529!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>복지관 좌측에 있는 건물<br>공연분과 중앙동아리와 동아리연습실이 위치<br>1층에는 소극장이 있어 종종 동아리 공연 진행</p>
            </div>
          </ul>
          <ul id="hiddenList31" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.4164636609069!2d127.03554005073944!3d37.30305244905201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9cf2ca1a71%3A0xc11295bdbdc6b4e9!2z6rK96riw64yA7ZWZ6rWQIOuzteyngOq0gA!5e0!3m2!1sko!2skr!4v1684421288137!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>4층에는 강당, 2층에는 학생지원팀, 장학지원팀, 인재개발처 등이 위치<br>1층에는 신한은행, 우체국, CU가 있음<br>지하 1층에는 푸드코트 식당이 있음<br>복지관 지하 1층과 신학생회관 4층은 통로로 이어져 있음</p>
            </div>
          </ul>
          <ul id="hiddenList32" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.0501252651395!2d127.03603051792595!3d37.30280298751631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9cf3de33b7%3A0x6162726e8475018a!2z6rK96riw64yA7ZWZ6rWQIO2VmeyDne2ajOq0gA!5e0!3m2!1sko!2skr!4v1684421325542!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>총동아리연합회, 총학생회, 각 학과 학생회실, 중앙동아리방, 신문방송사 등이 위치<br>신학생회관 4층과 복지관 지하 1층은 통로로 이어져 있음<br>건물 앞에 풋살장, 농구장 등의 시설 존재</p>
            </div>
          </ul>
          <ul id="hiddenList33" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d594.3962432118573!2d127.03507746769486!3d37.302358105202856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5d8201f795e9%3A0x3d3cccb58f908706!2z6rK96riw64yA7ZWZ6rWQIO2FlOugiOy7qOuypOyFmOyEvO2EsA!5e0!3m2!1sko!2skr!4v1684421366730!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>입학식/졸업식 등 교내 주요 행사와 대형 강좌를 진행하는 건물</p>
            </div>
          </ul>
          <ul id="hiddenList34" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d884.1985191011181!2d127.03517031552423!3d37.30086387945047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5d9c6b263c81%3A0xbb367bc410b212ea!2z6rK96riw64yA7ZWZ6rWQIOykkeyVmeuPhOyEnOq0gA!5e0!3m2!1sko!2skr!4v1684421392651!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </ul>
          <ul id="hiddenList35" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.4368743722079!2d127.03547086960118!3d37.30111779825677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5d3febdbe8e3%3A0xb2822e35eeacb2fd!2z6rK96riw64yA7ZWZ6rWQIOqwkOyEsey9lOyWtA!5e0!3m2!1sko!2skr!4v1684421424210!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>학생식당 운영</p>
            </div>
          </ul>
          <ul id="hiddenList36" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.4326426564833!2d127.036337223113!3d37.301518912940324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5d34c6ed7a4d%3A0xcaed89d0e03b1381!2z6rK96riw64yA7ZWZ6rWQIOq1kOyImOyXsOq1rOuPmQ!5e0!3m2!1sko!2skr!4v1684421452830!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>이공대 교수들을 제외한 대부분의 교수연구실 위치<br>5층에는 플랜비 식당이 있음</p>
            </div>
          </ul>
          <ul id="hiddenList37" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1138.4165943324872!2d127.03609075163594!3d37.300704344828645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5d6f8f35e019%3A0x3217fc6b10418d59!2z6rK96riw64yA7ZWZ6rWQIOydtOyKpO2AmOyWtA!5e0!3m2!1sko!2skr!4v1684421476582!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>2층에 이마트24와 서점, 두 개의 스터디룸이 있음(진성애교양대학 홈페이지에서 신청 후 사용 가능)<br>기둥 쪽에 카페, 1층에 식당이 있음</p>
            </div>
          </ul>
          <ul id="hiddenList38" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1138.4663115530198!2d127.03772916042317!3d37.297419650830484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9e4600bc4f%3A0x77197a147ac4763!2z6rK96riw64yA7ZWZ6rWQIOqyveq4sOuTnOumvO2DgOybjA!5e0!3m2!1sko!2skr!4v1684421535853!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </ul>
          <ul id="hiddenList39" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.4387666048144!2d127.03913071366559!3d37.300938436650405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5dcc385c9b59%3A0x6e23d6cd31f3bc8a!2z6rK96riw64yA7ZWZ6rWQIOqzte2VmeyLpOyKteuPmQ!5e0!3m2!1sko!2skr!4v1684423050561!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>주로 건축학과가 이용하는 건물<br>건물 내에 화장실이 없음</p>
            </div>
          </ul>
          <ul id="hiddenList40" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d553.0038612950818!2d127.04015729578278!3d37.30073097438988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5b12ca0f034b%3A0x3231c261abc3fd89!2z6rK96riw64yA7ZWZ6rWQIOumrOyEnOy5mOyEvO2EsA!5e0!3m2!1sko!2skr!4v1684421595874!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>화학공학과, 환경에너지공학과 등이 이용하는 건물</p>
            </div>
          </ul>
        </span>
      </section>
      </div>
    </div>
  </div>
{% endblock %}