{% extends 'subbase.html' %}
{% load static %}

{% block content %}
<div id="main">
	<div class="inner">
        <div class="row" style="margin-top:-70px">
			<div class="col-10">
				<h1>강의동</h1>
			</div>
		</div>
    <p>클릭 시 위치와 설명을 볼 수 있어요!📖</p>
    <hr>
    <details>
			<summary style="font-weight: bolder">강의동을 찾는다면?</summary>
			<img src="{% static 'images/Lecture.jpg' %}" style="width: 650px">
	</details>
	<br>
		<div>
			<section class="brand">
        <span class="btn-restaurant">
					<button id="spreadBtn13" class="restaurant">
            <h2>1강의동(진리관)</h2>
            <button id="spreadBtn14" class="restaurant">
              <h2>2강의동(성신관)</h2>
            </button>
            <button id="spreadBtn15" class="restaurant">
              <h2>3강의동(애경관)</h2>
            </button>
            <button id="spreadBtn16" class="restaurant">
              <h2>4강의동(예지관)</h2>
            </button>
            <button id="spreadBtn17" class="restaurant">
              <h2>5강의동(덕문관)</h2>
            </button>
            <button id="spreadBtn18" class="restaurant">
              <h2>6강의동(광교관)</h2>
            </button>
            <button id="spreadBtn19" class="restaurant">
              <h2>7강의동(집현관)</h2>
            </button>
            <button id="spreadBtn20" class="restaurant">
              <h2>8강의동(육영관)</h2>
            </button>
            <button id="spreadBtn21" class="restaurant">
              <h2>9강의동(효연관)</h2>
            </button>
            <button id="spreadBtn22" class="restaurant">
              <h2>종합강의동</h2>
            </button>
            <button id="spreadBtn23" class="restaurant">
              <h2>제2공학관</h2>
            </button>
          </button>
          <ul id="hiddenList13" class="example01" style="display: none;">
            <br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1586.8929603543363!2d127.03129657104985!3d37.30020727222922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9940da254b%3A0x99f84d8c2d132ec9!2z6rK96riw64yA7ZWZ6rWQIOuvuOuemOq0gA!5e0!3m2!1sko!2skr!4v1684308805297!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>대학본부, 교무처 등 위치</p>
            </div>
          </ul>
          <ul id="hiddenList14" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1586.9044848735728!2d127.03269668415561!3d37.29966106345912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c993a34c2b5%3A0x34294a85bab6fc5a!2z6rK96riw64yA7ZWZ6rWQIOyEseyLoOq0gA!5e0!3m2!1sko!2skr!4v1684308840060!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>3강의동과 함께 체육계열 학과, 학부 수업이 이루어지는 강의동</p>
            </div>
          </ul>
          <ul id="hiddenList15" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1586.9044848735728!2d127.03269668415561!3d37.29966106345912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9933d5f093%3A0xa012626e59189cc7!2z6rK96riw64yA7ZWZ6rWQIOyVoOqyveq0gA!5e0!3m2!1sko!2skr!4v1684308860504!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>2강의동과 함께 체육계열 학과, 학부 수업이 이루어지는 강의동<br>보건 진료소, 학군단, 실내체육관 위치</p>
            </div>
          </ul>
          <ul id="hiddenList16" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1586.8829988285802!2d127.03568909619275!3d37.30067939684881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9c253d4bc5%3A0x17d3b475537cd25d!2z6rK96riw64yA7ZWZ6rWQIOyYiOyngOq0gA!5e0!3m2!1sko!2skr!4v1684308898455!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>인문대학, 사회과학대학 경상계열 학과 수업이 이루어지는 강의동</p>
            </div>
          </ul>
          <ul id="hiddenList17" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d923.3515379779877!2d127.03609608326455!3d37.300359932196194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9e82e1162b%3A0xb67010b4fe98de56!2z6rK96riw64yA7ZWZ6rWQIOuNleusuOq0gA!5e0!3m2!1sko!2skr!4v1684308929491!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>사회과학대학 경상계열, 사회계열 학과 수업이 이루어지는 강의동</p>
            </div>
          </ul>
          <ul id="hiddenList18" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d489.1249174346023!2d127.0384598837003!3d37.300897246634975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9db9499323%3A0xd185f062affc0e4e!2z6rK96riw64yA7ZWZ6rWQIOq0keq1kOq0gA!5e0!3m2!1sko!2skr!4v1684308963073!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>융합과학대학 학과 수업이 이루어지는 강의동</p>
            </div>
          </ul>
          <ul id="hiddenList19" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.4391541872834!2d127.03768846960116!3d37.30090169825678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9d9856c3d5%3A0xb42ed88116dcb07e!2z6rK96riw64yA7ZWZ6rWQIOynke2YhOq0gA!5e0!3m2!1sko!2skr!4v1684308978434!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>공대 수업이 이루어지는 강의동</p>
            </div>
          </ul>
          <ul id="hiddenList20" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d793.4391541872834!2d127.03768846960116!3d37.30090169825678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9d9184b845%3A0x6b76c196ad72ba!2z6rK96riw64yA7ZWZ6rWQIOycoeyYgeq0gA!5e0!3m2!1sko!2skr!4v1684308993131!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>자연과학대학, 컴퓨터공학 수업이 이루어지는 강의동</p>
            </div>
          </ul>
          <ul id="hiddenList21" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d950.3635029734166!2d127.03382932118954!3d37.30386497403503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9b6f92527d%3A0x3cda285d976da0e1!2z6rK96riw64yA7ZWZ6rWQIO2YuOyXsOq0gA!5e0!3m2!1sko!2skr!4v1684309018424!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>예술계열학과, 학부 수업이 이루어지는 강의동<br>건물 구조상 엘레베이터가 4층까지만 운행하므로 5층은 반 바퀴 돌아서 한 층 더 계단으로 올라가야 함.</p>
            </div>
          </ul>
          <ul id="hiddenList22" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1956.4817544060102!2d127.03466175885711!3d37.30158747088414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b417267f0e1d3%3A0x24364a1d14615711!2z6rK96riw64yA7ZWZ6rWQIOyihe2VqeqwleydmOuPmQ!5e0!3m2!1sko!2skr!4v1684335550300!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>주로 교양 수업이 이루어지는 강의동</p>
            </div>
          </ul>
          <ul id="hiddenList23" class="example01" style="display: none;">
						<br>
            <div>
              <h2>위치🚩</h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1956.5000627784616!2d127.03813058221353!3d37.300883691560806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9d8c722627%3A0xe09341e50fa34a22!2z6rK96riw64yA7ZWZ6rWQIOygnDLqs7XtlZnqtIA!5e0!3m2!1sko!2skr!4v1684335574688!5m2!1sko!2skr" width="1125" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <p>창의공과대학 학과 수업이 이루어지는 강의동</p>
            </div>
          </ul>
        </span>
      </section>
      </div>
    </div>
  </div>
{% endblock %}