{% extends 'subbase.html' %}
{% load static %}

{% block content %}
<div id="main">
	<div class="inner">
        <div class="row" style="margin-top:-70px">
			<div class="col-10">
				<h1>졸업요건</h1>
			</div>
		</div>
        <div>
            <p>경기대학교 졸업요건에 대한 정보게시판 입니다.</p>
        </div>
        <hr>
        <div>
          <ol>
            <li><h4>교양학점</h4></li>
            <p>&nbsp&nbsp - &nbsp전적대학 학점으로 교양학점을 최대 인정받은 경우 본교에서 교양학점은 따로 이수하지 않아도 됨</p>
            <p>&nbsp&nbsp - &nbsp학과별로 교양 이수학점이 상이하므로 '해당년도 교육과정' 참조</p>
            <li><h4>전공학점</h4></li>
            <p>&nbsp&nbsp - &nbsp'전공 및 진로탐색' 교과목(1학년, 1학점)은 전공필수 과목이나 편입생의 경우 해당하지 않음</p>
            <p>&nbsp&nbsp - &nbsp학과별로 전공 이수학점이 상이하므로 '해당년도 교육과정' 참조</p>
            <p>&nbsp&nbsp - &nbsp전공선택, 전공필수 교과목을 모두 이수하여야 함</p>
            <li><h4>복수전공</h4></li>
            <p>&nbsp&nbsp - &nbsp전적대학 학점 중 복수전공 학점으로 인정받을 학점이 있는 경우, '편입생 전공학점 인정 신청서'에 해당 내용을 명기하여 소속 학과에 제출</p>
            <p>&nbsp&nbsp - &nbsp편입생 중 복수전공을 이수하고자 하는 학생은 반드시 복수전공 신청기간(매년 5월)에 신청하여 선발되어야 하며, 학생이 복수전공으로 학점인정을 받은 경우라도 추후 복수전공자로 선발되지 않을 시 복수전공 자격은 없음</p>
            <p>&nbsp&nbsp - &nbsp해당 전공의 사정에 따라서 추가 학기를 다닐 수 있음</p>
            <li><h4>졸업인증제(신입생과 동일)</h4></li>
            <li><h4>졸업자격요건</h4></li>
            <p>&nbsp&nbsp - &nbsp졸업학점(교양학점, 전공학점, 총학점 등), 졸업논문(시험), 졸업인증제, 인권과 성평등(폭력 예방)교육 이수 등 모든 요건을 갖춰야 함</p>
          </ol>
        </div>
        <hr>
        <details>
          <summary style="font-weight: bolder">편입생 학점인정(Click!)</summary>
          <ol>
            <li><h4><strong>편입생 학점인정 심사(편입학 첫 학기에 한함)</strong></h4></li>
            <p><span>&nbsp&nbsp - &nbsp전적대학에서 이수한 교과목과 학점을 심사하여 본 대학교에서 요구하는 교과목의 </span><span style="color: red;">학점만을 인정함[교과목 인정이 아님]</span><span> 다만 공학교육인증 및 건축확인증 대상학과는 전적대학에서 이수한 동일과목에 대하여 교과목을 인정하는 것으로 함 </span><span style="color: blue;">[학칙 시행세칙 제5조 ④항 참조]</span></p>
            <p><span>&nbsp&nbsp - &nbsp전적대학 최대 인정학점은 65학점(법학과, 컴퓨터공학부 및 창의공과대학의 전학과는 68학점)까지이며, 전공교과목 인정학점은 소속 학장이 전공교과목 심사를 거쳐 인정함</span><span style="color: red;">(전적대학에서 전공으로 이수한 과목에 한함) </span><span style="color: blue;">[학칙 시행세칙 제5조 ⑤항 참조]</span></p>
            <p style="font-size: medium;">&nbsp&nbsp&nbsp&nbsp※ &nbsp전적대학 성적이 65(68)학점 미만일 경우 학점 인정 시 수료점수 내에서 인정함</p>
            <p>&nbsp&nbsp - &nbsp편입생 전공학점 인정은 복수전공(다전공)을 포함하여 최대 인정학점(20/23/24학점)을 초과 할 수 없음</p>
            <li><h4><strong>편입생 학점 인정 절차</strong></h4></li>
            <table class="table_graduate">
              <thead class="thread_graduate">
                  <tr>
                      <th colspan="7">&nbsp · &nbsp편입생 학점인정(주전공, 복수전공) 심사 안내 공문 발송(3월 중)</th>
                  </tr>
              </thead>
              <tbody class="tbody_freshman">
                  <tr>
                      <td>학과 상담</td>
                      <td rowspan="2">⇨</td>
                      <td><span>신청서(성적표 포함) 제출</span><br><span style="color:red;">(반드시 본인 작성)</span></td>
                      <td rowspan="2"><span>⇨</span><br><span style="color: green;">(복수전공 학점 인정일 경우)</span></td>
                      <td>신청서(성적표 포함) 재 제출</td>
                      <td rowspan="2">⇨</td>
                      <td>신청서 최종 제출</td>
                  </tr>
                  <tr>
                      <td>학과<br>(주전공)</td>
                      <td>학과 사무실<br>(주전공)</td>
                      <td>학과 사무실<br>(복수전공)</td>
                      <td>학과 사무실<br>(주전공)</td>
                  </tr>
              </tbody>
          </table>
          <p style="font-size: medium; color: blue;">&nbsp&nbsp&nbsp&nbsp※ &nbsp제출서류 : 편입생 전공학점 인정 신청사, 전적대학 성적표</p>
          <br>
          <li><h4><strong>유의사항</strong></h4></li>
          <p><span>&nbsp&nbsp - &nbsp편입생 학점인정 심사는 편입학 첫 학기(1회)에 한하므로 복수전공을 이수하고자 하는 학생은 전적대학 학점 중 복수전공 학점으로 인정받을 학점이 있는 경우 '전공학점인정신청서'에 해당 내용을 명기하여(제2전공, 제3전공 등) 제출</span><span style="color: blue;">[교과목 중복 신청 불가]</span></p>
          <details>
            <summary style="font-weight: bolder; font-size: medium">전공학점인정서 문서 예시(Click!)</summary>
            <img src="{% static 'images/전공학점인정서_예시.jpg' %}" alt="" style="width: 800px"/>
          </details>
          <br>
          <p>&nbsp&nbsp - &nbsp전공학점인정 심사에서 복수전공으로 학점인정을 받더라도 추후 "복수전공신청서 접수" 기간에 신청서를 제출하여 복수전공 이수자로 선발되어야 함(선발되지 않을시 복수전공 자격은 없으며, 주전공으로의 학점 이월은 불가)</p>
          <div style="border: 1px solid; padding: 10px;">
          <p>▣ 복수전공 신청 방법</p>
          <p>○ 대 &nbsp 상 &nbsp 자 : 모집 당시 2·3·4학년 1학기 재학생[7학기(건축학과 9학기) 이내]</p>
          <p>○ 신청시기 : 매년 5월경(연 1회)</p>
          <p>○ 신청방법 : 종합정보시스템(KUTIS) → 학사시스템 신청마당 → 복수전공 신청</p>
          </div>
          <br>
          <p><span>&nbsp&nbsp - &nbsp</span><span style="color: red;">전적대학에서 인정받은 학점만으로는 부전공 인정 불가 [본교에서 부전공 학점(21학점)의 1/2학점 이상을 이수하여야 함]</span></p>
          <li><h4><strong>편입생 학점인정 기준표</strong></h4></li>
            <table class="table_graduate_tr">
              <thead class="thread_graduate_tr">
                  <tr>
                    <th rowspan="2" class='backslash' style='width:300px'><div>학점</div>구분</th>
                    <th rowspan="2" style="vertical-align: middle;">총 인정학점</th>
                    <th colspan="3">인정학점</th>
                  </tr>
                  <tr>
                    <th>교양</th>
                    <th>전공</th>
                    <th>자유선택</th>
                </tr>
              </thead>
              <tbody class="tbody_transfer">
                <tr>
                  <td style="text-align: left;">· 인문대학<br>· 예술체육대학<br>· 지식정보서비스대학(법학과 제외)<br>· 관광문화대학</td>
                  <td>최대 65학점</td>
                  <td>35학점</td>
                  <td>최대 24학점</td>
                  <td>최소 6학점</td>
                </tr>
                <tr>
                  <td style="text-align: left;">· 지식정보서비스대학 법학과<br>· 창의공과대학 건축학과</td>
                  <td>최대 68학점</td>
                  <td>35학점</td>
                  <td>최대 24학점</td>
                  <td>최소 9학점</td>
                </tr>
                <tr>
                  <td style="text-align: left;">· 융합과학대학(컴퓨터공학부 제외)</td>
                  <td>최대 65학점</td>
                  <td>45학점</td>
                  <td>최대 20학점</td>
                  <td>최소 0학점</td>
                </tr>
                <tr>
                  <td style="text-align: left;">· 융합과학대학 컴퓨터공학부<br>(현재 소프트웨어경영대학 소속)<br>· 창의공과대학(건축학과 제외)</td>
                  <td>최대 68학점</td>
                  <td>45학점</td>
                  <td>최대 23학점</td>
                  <td>최소 0학점</td>
                </tr>
              </tbody>
          </table>
          <p style="font-size: medium; color: blue;">&nbsp&nbsp&nbsp&nbsp※ &nbsp편입생 학점인정은 최대 65(68)학점까지 인정되며, 전적대학에서 이수한 학점에 대해 우선적으로 교양 35(45)학점 인정 ⇨ 전공학점에 대해 학과에서 전공과목에 대한 심사를 한 후 전공 최대 20(23/24)학점 인정 ⇨ 전공학점으로 인정받지 않은 학점에 대해서는 자유선택학점으로 인정</p>
          </ol>
      </details>
</div>  
	</div>
</div>
{% endblock %}