{% extends 'subbase.html' %}
{% load static %}

{% block content %}
<div id="main">
	<div class="inner">
		<div class="row" style="margin-top:-70px">
			<div class="col-10">
				<h1>후문 카페</h1>
			</div>
		<div>
            <p>경기대학교 후문에 있는 카페 정보입니다.</p>
        </div>
		</div>
    <hr>
    <div>
      <table class="table_FrontRestaurant">
        <tbody class="tbody_FrontRestaurant">
        <tr style="background-color: rgba(144, 144, 144, 0.075);">
          <th style="text-align: center; border-right: solid 1px #c9c9c9; width: 300px;">이름</th>
          <th style="text-align: center; border-right: solid 1px #c9c9c9; width: 500px">리뷰 및 평점</th>
          <th style="text-align: center;">비고</th>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">OWNER.카페주인</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/entry/place/1445656843?c=15,0,0,0,dh" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1627962747" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">카페곰지</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%B9%B4%ED%8E%98%EA%B3%B0%EC%A7%80/place/1030073730?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">웨시커피</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%B9%B4%ED%8E%98%EA%B3%B0%EC%A7%80/place/1030073730?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/646357819" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">오르카</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%98%A4%EB%A5%B4%EC%B9%B4/place/425763818?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1653637751" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">제리베이크</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%A0%9C%EB%A6%AC%EB%B2%A0%EC%9D%B4%ED%81%AC/place/1166545858?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/728938898" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">카페181.3</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%B9%B4%ED%8E%98181.3/place/33625484?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/21879822" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">커피에 반하다</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%BB%A4%ED%94%BC%EC%97%90%EB%B0%98%ED%95%98%EB%8B%A4/place/37779081?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/27571996" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">마실</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%A7%88%EC%8B%A4/place/1213315288?c=16.28,0,0,0,dh&placePath=%3Fentry=bmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1257243464" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">오이소</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%98%A4%EC%9D%B4%EC%86%8C/place/1420892337?c=15.19,0,0,0,dh&placePath=%3Fentry=bmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1239570189" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">테디쿠키</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%ED%85%8C%EB%94%94%EC%BF%A0%ED%82%A4/place/1026164512?c=15.19,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1528921437" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">메이홈</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/entry/place/1242414684?c=15.19,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href=https://place.map.kakao.com/1548938379" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">오카방고랩소디</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%98%A4%EC%B9%B4%EB%B0%A9%EA%B3%A0%EB%9E%A9%EC%86%8C%EB%94%94/place/1014572574?c=15.19,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1325060020" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">바니하니</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%B0%94%EB%8B%88%ED%95%98%EB%8B%88/place/1210723274?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1436746084" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">에린앤커피</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://place.map.kakao.com/1436746084" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/26838017" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">블랙울프</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%B8%94%EB%9E%99%EC%9A%B8%ED%94%84/place/1865285040?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1520813048" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">빽다방</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%B9%BD%EB%8B%A4%EB%B0%A9%20%EA%B4%91%EA%B5%90/place/37263726?c=13,0,0,0,dh&placePath=%3Fentry=bmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/27393013" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">이디야</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%9D%B4%EB%94%94%EC%95%BC%20%EA%B2%BD%EA%B8%B0%EB%8C%80/place/1976183611?c=13,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/27359249" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">타짜도르</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%ED%83%80%EC%A7%9C%EB%8F%84%EB%A5%B4/place/1691953613?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/2038976372" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">마룬커피로스터스</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%A7%88%EB%A3%AC%EC%BB%A4%ED%94%BC%EB%A1%9C%EC%8A%A4%ED%84%B0%EC%8A%A4/place/36166856?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/27512668" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">공차</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EA%B3%B5%EC%B0%A8%20%EA%B2%BD%EA%B8%B0%EB%8C%80%ED%9B%84%EB%AC%B8/place/37333259?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/27539634" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">탐앤탐스</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%ED%83%90%EC%95%A4%ED%83%90%EC%8A%A4%20%EA%B2%BD%EA%B8%B0%EB%8C%80%ED%9B%84%EB%AC%B8/place/223027430?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1394847376" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">내리다커피</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%82%B4%EB%A6%AC%EB%8B%A4%EC%BB%A4%ED%94%BC/place/139603500?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1756717640" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">메가커피</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%A9%94%EA%B0%80%EC%BB%A4%ED%94%BC/place/1958252603?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1196099015" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">생폴드커피</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%83%9D%ED%8F%B4%EB%93%9C%EC%B9%B4%ED%8E%98/place/1716183718?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/194675485" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">스타벅스</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%8A%A4%ED%83%80%EB%B2%85%EC%8A%A4%20%EA%B2%BD%EA%B8%B0%EB%8C%80/place/11807569?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/7968067" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">투썸플레이스</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%ED%88%AC%EC%8D%B8%ED%94%8C%EB%A0%88%EC%9D%B4%EC%8A%A4%20%EA%B4%91%EA%B5%90/place/37301972?c=14,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/24407631" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
      </tbody>
      </table>
    </div>
	</div>
</div>
{% endblock %}