{% extends 'subbase.html' %}
{% load static %}

{% block content %}
<div id="main">
    <div class="inner">
		<div class="row" style="margin-top:-70px">
			<div class="col-10">
				<h1>정문 카페</h1>
			</div>
		<div>
            <p>경기대학교 주변에 있는 카페 정보입니다.</p>
        </div>
		</div>
    <hr>
    <div>
      <table class="table_FrontRestaurant">
        <tbody class="tbody_FrontRestaurant">
        <tr style="background-color: rgba(144, 144, 144, 0.075);">
          <th style="text-align: center; border-right: solid 1px #c9c9c9; width: 300px;">이름</th>
          <th style="text-align: center; border-right: solid 1px #c9c9c9; width: 500px;">리뷰 및 평점</th>
          <th style="text-align: center;">비고</th>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">카페워터쿨러</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%9B%8C%ED%84%B0%EC%BF%A8%EB%9F%AC/place/1312039584?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/2118389381" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">나니행</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%82%98%EB%8B%88%ED%96%89/place/1529136259?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1983525337" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">베이스캠프커피</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EB%B2%A0%EC%9D%B4%EC%8A%A4%EC%BA%A0%ED%94%84%20%EA%B4%91%EA%B5%90/place/1623202416?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/658405887" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">커피투고</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%BB%A4%ED%94%BC%ED%88%AC%EA%B3%A0%20%EA%B4%91%EA%B5%90/place/1760474995?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/401109366" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">제너러스커피</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%A0%9C%EB%84%88%EB%9F%AC%EC%8A%A4%EC%BB%A4%ED%94%BC/place/1449080940?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/87688674" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">크로플덕오리아가씨</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/entry/place/1416025833?c=15,0,0,0,dh" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1919652688" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">겟백</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EA%B2%9F%EB%B0%B1/place/1052514515?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1541367007" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">와이엇(WYATT)</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EC%99%80%EC%9D%B4%EC%97%87%20%EA%B4%91%EA%B5%90/place/1151406672?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/1529068019" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">카페도피오</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/entry/place/1881973068?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/14076579" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
        <tr>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;">공간1993</td>
            <td style="vertical-align: middle; border-right: solid 1px #c9c9c9;"><a href="https://map.naver.com/v5/search/%EA%B3%B5%EA%B0%841993/place/1265754372?c=15,0,0,0,dh&placePath=%3Fentry%253Dbmp" target="_blank">네이버지도</a><br><a href="https://place.map.kakao.com/22731619" target="_blank">카카오맵</a></td>
            <td></td>
        </tr>
      </tbody>
      </table>
    </div>
	</div>
</div>
{% endblock %}